@font-face {
  font-family: CursedTimer;
  src: url("/CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background-color: #1B244A;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;
}

.score-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
    color: #EEEEEE;
    font-size: 40px;
    font-weight: 700;
}

.score {
    font-family: CursedTimer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    
    margin: 21px 0 26px 0;
    padding-top: 10px;
    
    background-color: #080001;
    color: #F94F6D;
    border-radius: 5px;
    
    width: 155px;
    height: 120px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 155px;
}

.btn {
    font-family: CursedTimer;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    background-color: #0000;
    color: #9AABD8;
    border-radius: 5px;
    font-size: 18px;
}

.new-game-btn {
    width: 90px;
}